@import 'vars';
@import 'mixin';

html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
}

.form {
  &__item {
    display: flex;
    flex-direction: column;
  }
  &__not-input {
    .form__label {
      position: relative;
      &::after {
        content: '必須項目です';
        margin-left: 16px;
        display: inline-block;
        color: $cRequire;
      }
    }
    .form__input {
      border: 2px solid $cRequire;
    }
  }
  &__title {
    @include fontBase;
    font-size: $sTitle;
    color: $cBlack;
  }
  &__label {
    @include fontBase;
    font-size: $sText;
    color: $cBlack;
  }
  &__require {
    color: $cRequire;
  }
  &__input {
    padding: 16px 24px;
    font-size: $sText;
    background-color: $cBase;
    border: none;
    border-radius: $sRadius;
    &::placeholder {
      @include fontBase;
      font-size: $sText;
      color: $cPlaceholder;
    }
    &:focus-within {
      font-size: $sText;
    }
  }
  &__submit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .submit {
      @include fontBase;
      font-size: $sText;
      color: $cWhite;
      background-color: $cGray;
      border-radius: 100vw;
      cursor: pointer;
    }
  }
}
