@import 'vars';
@import 'mixin';

html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
}
h2 {
  margin: 0;
}

.main {
  background-color: $cBase;
}
.form {
  margin: 0 auto;
  padding: 80px 0;
  max-width: 1000px;
  width: 90%;
  background-color: $cWhite;
  &__item {
    display: flex;
    flex-direction: column;
    margin: 40px auto;
    padding: 0 8%;
    max-width: 500px;
  }
  &__not-input {
    .form__label {
      position: relative;
      &::after {
        content: '必須項目です';
        margin-left: 16px;
        display: inline-block;
        color: $cRequire;
      }
    }
    .form__input {
      border: 2px solid $cRequire;
    }
  }
  &__title {
    text-align: center;
    @include fontBase;
    font-size: $sTitle;
    color: $cBlack;
  }
  &__label {
    @include fontBase;
    font-size: $sText;
    color: $cBlack;
  }
  &__require {
    color: $cRequire;
  }
  &__input {
    padding: 16px 24px;
    font-size: $sText;
    background-color: $cBase;
    border: none;
    border-radius: $sRadius;
    &::placeholder {
      @include fontBase;
      font-size: $sText;
      color: $cPlaceholder;
    }
    &:focus-within {
      font-size: $sText;
    }
  }
  &__submit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .submit {
      @include fontBase;
      font-size: $sText;
      color: $cWhite;
      background-color: $cGray;
      border-radius: 100vw;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 1000px) {
  .form {
    width: 100%;
  }
}
